<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528214248415-rk5elivubal4h27c2s6gqijmf6ld8dd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528214248415-rk5elivubal4h27c2s6gqijmf6ld8dd2</string>
	<key>API_KEY</key>
	<string>AIzaSyDwLc3rPWTLh3oJxDY61MoS59L7YasRBzs</string>
	<key>GCM_SENDER_ID</key>
	<string>528214248415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eRepairkit</string>
	<key>PROJECT_ID</key>
	<string>e-devicerepairkit</string>
	<key>STORAGE_BUCKET</key>
	<string>e-devicerepairkit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528214248415:ios:2793eb0c7536badd62526a</string>
</dict>
</plist>